<mat-toolbar color="primary" class="header-toolbar">
  <a mat-button routerLink="/home" class="brand">
    <mat-icon>local_grocery_store</mat-icon>
    <span>Grocerly</span>
  </a>
  
  <span class="spacer"></span>

  <!-- Desktop Menu -->
  <div class="desktop-menu">
    <button mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button routerLink="/recipes" routerLinkActive="active">
      <mat-icon>menu_book</mat-icon>
      <span>Recipes</span>
    </button>
    <button mat-button routerLink="/shopping-list" routerLinkActive="active">
      <mat-icon>shopping_cart</mat-icon>
      <span>Shopping Lists</span>
    </button>
    
    <!-- Show when not logged in -->
    <ng-container *ngIf="!(authService.currentUser$ | async)">
      <button mat-button routerLink="/login" routerLinkActive="active">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
      <button mat-button routerLink="/register" routerLinkActive="active">
        <mat-icon>person_add</mat-icon>
        <span>Register</span>
      </button>
    </ng-container>

    <!-- Show when logged in -->
    <ng-container *ngIf="authService.currentUser$ | async as user">
      <button mat-button routerLink="/profile" routerLinkActive="active">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-button (click)="authService.logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </ng-container>
  </div>

  <!-- Mobile Menu -->
  <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-menu-button">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item routerLink="/recipes">
      <mat-icon>menu_book</mat-icon>
      <span>Recipes</span>
    </button>
    <button mat-menu-item routerLink="/shopping-list">
      <mat-icon>shopping_cart</mat-icon>
      <span>Shopping Lists</span>
    </button>
    <button mat-menu-item routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
  </mat-menu>
</mat-toolbar>
